.day {
  width: 190px;
  height: 150px;
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--white);
  border-radius: 10px;

  .day-title {
    height: 20px;
    text-align: center;
    margin-top: 10px;
  }

  .targets {
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    p {
      width: 55px;

      text-align: center;
      border: 1px solid var(--white);
      cursor: pointer;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;
      &:hover {
        opacity: 0.5;
      }
    }
    .four {
      background-color: var(--darkOrange);
      border: 1px solid var(--orange);
      height: 55px;
    }
    .five {
      background-color: var(--darkBlue);
      border: 1px solid var(--blue);
      height: 65px;
    }
    .ten {
      background-color: var(--darkGreen);
      border: 1px solid var(--green);
      height: 75px;
    }
  }

  .study {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .study-input {
      width: 80%;
      height: 30px;
      border-radius: 5px;
      text-align: center;
    }
    .study-save-btn {
      width: 80%;
      height: 30px;
      border-radius: 5px;
      background-color: var(--black);
      border: 1px solid var(--white);
      color: var(--white);
      transition: all 0.5s;
      cursor: pointer;
      &:hover {
        background-color: var(--white);
        color: var(--black);
      }
    }
  }

  .studied {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    p {
      font-size: 30px;
    }
  }
}
