.standart-box {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darkGreen);
  border: 1px solid var(--green);
  border-radius: 5px;
}

.ten {
  @extend .standart-box;
  justify-content: space-evenly;

  transition: all 0.5s;

  .finish-icons {
    width: 80%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .icon {
      cursor: pointer;
      transition: all 0.5s;
      font-size: 20px;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.ten-finish {
  @extend .standart-box;
  opacity: 0.5;
  justify-content: center;
}
