.study-value {
  width: 250px;
  text-align: center;
  font-size: 40px;
  padding: 5px;
}

.current-study {
  color: var(--orange);
  border-bottom: 2px solid var(--white);
  @extend .study-value;
}

.target-study {
  color: var(--green);
  border-bottom: 2px solid var(--white);
  @extend .study-value;
}
