.study-value {
  width: 250px;
  height: 40px;
  font-size: 40px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  h4 {
    margin-right: 5px;
  }
  p {
    font-size: 15px;
    margin-left: 5px;
  }
}

.current-study {
  color: var(--orange);
  border-bottom: 2px solid var(--white);
  @extend .study-value;
}

.target-study {
  color: var(--green);
  border-bottom: 2px solid var(--white);
  @extend .study-value;
}
